:root {
  --white: hsl(0, 0%, 100%);
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --font-1: "Open Sans", sans-serif;
  --font-2: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  /* line-height: 1.5rem; */
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: var(--white);
  background-color: var(--violet);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  font-family: var(--font-1);
  font-weight: 400;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-areas:
    "header"
    "image"
    "text"
    "social";
}

header img {
  height: 32px;
}

h1 {
  font-weight: 600;
  font-family: var(--font-2);
}

header {
  grid-area: header;
}

.img-wrapper {
  grid-area: image;
}

section {
  grid-area: text;
}

.social {
  grid-area: social;
  text-align: end;
}

header,
.social {
  border: 2px solid greenyellow;
}

.social .fa-brands {
  display: inline-block;
  border: 2px solid var(--white);
  border-radius: 50%;
  font-size: 20px;
  width: 42px;
  height: 42px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0 0.5rem;
}

.social .fa-brands:hover,
.social .fa-brands:focus,
.social .fa-brands:active {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

.img-wrapper,
section {
  border: 2px solid greenyellow;
}

img.mockups {
  /* width: 333px;
  height: 235px; */
  width: 100%;
}

button {
  font-family: var(--font-2);
  color: var(--violet);
  width: 225px;
  height: 45px;
  border-radius: 50px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: var(--soft-magenta);
  color: var(--white);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  z-index: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.55);
}

.attribution a {
  font-size: 11px;
  color: hsla(0, 0%, 100%, 0.75);
}

@media (min-width: 450px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-position: center;
    background-size: auto 100%;
    grid-template-areas:
      "header header"
      "image text"
      "social social";
  }

  img.mockups {
    /* width: 694px;
    height: 494px; */
  }
}
