:root {
  --white: hsl(0, 0%, 100%);
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --font-1: "Open Sans", sans-serif;
  --font-2: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin: 0;
  padding: 45px 45px 0px;
  color: var(--white);
  background-color: var(--violet);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  font-family: var(--font-1);
  font-weight: 400;
  min-height: 100vh;
  min-width: 100vw;
  overflow: scroll;
  display: grid;
  grid-template-areas:
    "header"
    "image"
    "text"
    "social";
}

h1 {
  font-weight: 600;
  font-family: var(--font-2);
  text-wrap: nowrap;
}

p {
  line-height: 2rem;
  font-size: 20px;
}

header {
  grid-area: header;
  text-align: start;
  margin-bottom: 50px;
}

header img {
  height: 35px;
}

.img-wrapper {
  grid-area: image;
}

main {
  grid-area: text;
}

.social {
  grid-area: social;
  text-align: center;
  margin: 51px 0;
}

.social .fa-brands {
  display: inline-block;
  border: 1px solid var(--white);
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
}

.social .fa-brands:hover,
.social .fa-brands:focus,
.social .fa-brands:active {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

img.mockups {
  width: 100%;
}

button {
  font-family: var(--font-2);
  font-size: 16px;
  color: var(--violet);
  width: 227px;
  height: 47px;
  border-radius: 50px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: var(--soft-magenta);
  color: var(--white);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  z-index: 2;
}

.attribution {
  margin: auto;
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.55);
}

.attribution a {
  font-size: 11px;
  color: hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 350px) {
  body {
    padding: 3vw 3vw 0px;
  }
}

@media (min-width: 821px) {
  body {
    padding: 0;
    text-align: start;
    background-image: url("../images/bg-desktop.svg");
    background-position: center;
    background-size: auto 100%;
    grid-template-areas:
      "header header"
      "image text"
      "social social";
  }

  .social {
    margin-right: 78px;
    text-align: end;
  }

  .social .fa-brands {
    border-width: 2px;
    font-size: 20px;
    width: 42px;
    height: 42px;
    line-height: 30px;
    margin-left: 18px;
  }

  header img {
    height: auto;
    padding-top: 60px;
    padding-left: 78px;
  }

  img.mockups {
    padding-right: 50px;
    padding-left: 78px;
  }

  h1,
  p {
    max-width: 512px;
  }

  h1 {
    font-size: 44px;
  }

  button {
    font-size: 20px;
    width: 200px;
    height: 57px;
  }

}
